<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isOpen) ? 'dialog' : 'navigation'"
    [mode]="(isOpen) ? 'over' : 'side'" [opened]="(isOpen) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="/charts">Charts </a>
      <a mat-list-item href="/comboBox">Combo Box</a>
      <a mat-list-item href="/tables">Tables</a>
      <a mat-list-item href="/calender">Calender</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle();isOpen = false;">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Dashboard</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>